<!DOCTYPE html>
<!-- This website template was created by: Sherwayne Palmer" -->
<html lang="en">

<head>
    <title>About Us</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../css/about//about.css">
</head>
<input type="hidden" id="pageIdent" value="aboutUsPage">

<table class="page_header">
    <tr>
        <td>About Us</td>
    </tr>
</table>

<article id="aboutus_main">
    <h2 class="text-center">Welcome</h2>

    <div style="float: none;">
        <div class="left-about">
            <p>
                <strong>A Proven Reputation</strong>
            </p>
            <p>
                We urge you to read through our reviews. We are dedicated to providing the right vehicle buying experience.
            </p>
        </div>

        <div class="right-about">
            <p>
                <strong>100% Pricing Transparency</strong>
            </p>
            <p>
                You'll always receive honest, upfront customer service for any vehicle of your choosing.
            </p>
        </div>

    </div>

    <div style="float: left">
        <div class="left-about">
            <p>
                <strong>Always Get the Best Deal</strong>
            </p>
            <p>
                We combine all the current promotions of Mazda Canada along with our dealer discounts to meet your customer service expectations.
            </p>
        </div>

        <div class="right-about">
            <p>
                <strong>ZERO Pressure Sales Team</strong>
            </p>
            <p>
                You won't find any pushy sales employees here. We're here to help in the way you want us to.
            </p>
        </div>
    </div>

    <div>
        <div class="left-about">
            <p>
                <strong>Product Knowledge Experts</strong>
            </p>
            <p>
                Get top notch service from a team that knows the product inside and out, and can help you make the very best decision for your situation.
            </p>
        </div>

        <div class="right-about">
            <p>
                <strong>No Long Waits</strong>
            </p>
            <p>
                You'll get quick, efficient service every time. We respect our customers' time.
            </p>
        </div>
    </div>
</article>

<div style="text-align:center;padding-top:20px;float:left;">
    <div>
        <span style="font-size:30px"> Meet the team</span>
        <div class="row" style="font-weight:bold">
            <div class="column">
                <p>Sherwayne Palmer</p>
                <img src="../images/wayne.jpeg">
                <p>Web Developer</p>
            </div>
            <div class="column">
                <p>Diego Perez</p>
                <img src="../images/diego-perez.jpg">
                <p>Web Developer</p>
            </div>
            <div class="column">
                <p>Deivid Mafra</p>
                <img src="../images/deivid.png">
                <p>Web Developer</p>
            </div>
        </div>
    </div>
</div>


</html>