<!DOCTYPE html>
<!-- This website template was created by: Sherwayne Palmer" -->
<html lang="en">

<head>
    <title>ContactUs</title>
    <meta charset="utf-8">
</head>
<input type="hidden" id="pageIdent" value="contactUsPage">
<table class="page_header">
    <tr>
        <td>Send Us A Message</td>
    </tr>
</table>

<div id="contactUsLeft">

</div>

<div id="contactUsRight">

</div>

<div id="contactUsMiddle">
    <article>
        <h3>We do appreciate your feedback</h3>

        <span>We will be glad to hear from you if:</span>
        <ul>
            <li>You have found a mistake in our car specifications.
            </li>
            <li>You have info about a cars which we don't have in our database.
            </li>
            <li>You have found a broken link.
            </li>
            <li>You have a suggestion for improving JustCarsAuto.com or you want to request a feature.
            </li>
        </ul>
    </article>

    <!-- <aside>
        <p>Before sending us an email, please keep in mind:</p>
        <ul>

            <li> We do not sell mobile phones.
            </li>
            <li> We do not know the price of any mobile phone in your country.
            </li>
            <li> We don't answer any "unlocking" related questions.
            </li>
            <li> We don't answer any "Which mobile should I buy?" questions.
            </li>

        </ul>
    </aside> -->

    <div id="contactUs_main">
        <div id="form-div">
            <form id="contactus_form">

                <span>
					First Name:
					<br />
					<input name="name" type="text" class="feedback-input" required />
				</span>
                <br />
                <br />
                <span>
					Last Name:
					<br />
					<input name="lastName" type="text" class="feedback-input" required id="lastName" />
				</span>
                <br />
                <br />
                <span>
					Email:
					<br />
					<input name="email" type="email" required class="feedback-input" id="email" />
				</span>
                <br />
                <br />
                <span>
					<textarea name="message" class="feedback-input" id="comment"></textarea>
				</span>
                <div class="submit">
                    <button type="submit" class="button-blue">SUBMIT</button>
                    <div class="ease"></div>
                </div>
            </form>

        </div>
    </div>

    <h3> Location</h3>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2880.979196194029!2d-79.33806968449835!3d43.77329067911739!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b2d6fc6ca7f5d%3A0x2a12502c1cd1e815!2sLambton+College!5e0!3m2!1sen!2sca!4v1555044904355!5m2!1sen!2sca"
        style="border:0; width:100%;height:350px;" allowfullscreen></iframe>

    <h3> Hour of Operation</h3>
    <p>Monday to Friday || 9am to 4pm</p>

</div>

</html>