<!DOCTYPE html>
<!-- This website template was created by: Deivid Mafra, Sherwayne Palmer, Diego Perez, Yash Deepak 05/03/2019 -->
<html lang="en">

<head>
    <!-- <script src="../scripts/smartPhones.js"></script> -->
    <title>Home</title>
    <meta charset="utf-8">
</head>
<!--author:Sherwayne Palmer -->
<input type="hidden" id="pageIdent" value="home">


<div id="left_inner_container">
    <div>

        <table class="home_page_sub_left_header">
            <tr>
                <td>Top Cars</td>
            </tr>
        </table>

        <nav class="top_phones_vertical-menu">
            <ul class="shadow">
                <li> <a class="r_AudiTron" href="#" class="active">Audi e-Tron</a></li>
                <li> <a class="r_Ffocus" href="#">Ford Focus</a> </li>
                <li> <a class="r_I20" href="#">Hyundai I20</a> </li>
                <li> <a class="r_TAvalon" href="#">Toyota Avalon</a> </li>
            </ul>
        </nav>
        <div id="left_placeHolder">

        </div>

    </div>

</div>

<div id="right_inner_container">

    <div class="content">

        <div id="right_placeHolder">
            <img src="../images/ad1.png" alt="featured image">
        </div>

    </div>

</div>

<div id="middle_inner_container">
    <div class="content">

        <table class="home_page_sub_middle_header">
            <tr>
                <td>Welcome</td>
            </tr>
        </table>
        <section>
            <div>

                <img class="img_home_middle" src="../images/cars/homeCar.jpg" alt="featured image">
                <div>
                    <p class="adj_cont"> Thank you for visiting the our website. We encourage you to look around and reach out to us with any comments or questions. Click on the social links below to follow us on Twitter, like us on Facebook or subscribe to our YouTube channel.
                        Thank you for visiting!
                    </p>
                </div>
            </div>
        </section>
        <table class="home_page_sub_middle_header">
            <tr>
                <td>Our services</td>
            </tr>
        </table>
        <div>
            <section>
                <!-- <video class="adj_cont video" controls autoplay loop>
          <source class="main-data" src="images/p20-design.mp4" type="video/mp4">
          Your browser does not support HTML5 video.
        </video> -->
                <!--<img class="img_home_middle" height="600px" src="images/HuaweiP20_2.jpg" alt="featured image"> -->
                <iframe class="adj_cont video" width="560" height="315" src="https://www.youtube.com/embed/BDCU5OFXZ2c?autoplay=1;controls=0&amp;start=15" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div>
                    <p class="adj_cont"> Our maintenance schedules are designed to keep your service costs remarkably affordable and predictable. Every regular scheduled maintenance visit includes our comprehensive multi-point inspection and a 2-year / unlimited-kilometre
                        limited warranty on parts and labour.</p>
                </div>
            </section>
        </div>

    </div>
</div>

</html>