<!DOCTYPE html>
<!-- This website template was created by: Diego Perez, 05/03/2019 -->

<html lang="en">
<head>
<title>Partners</title>
<meta charset="utf-8">
</head>
<div class="main_container_tittle blue light white-text">
    <p>Partners</p>
</div>
<main>
    <div>
        <div class="left_pa">
            <img src="images/Apple-logo.jpg" alt="" />
        </div>
        <div class="right_pa">
            <img src="images/Huawei-logo.jpg" alt="" />
        </div>
        <div class="center_pa">
            <img src="images/google-logo.gif" alt="" />
        </div>
    </div>

    <div>
        <div class="left_pa">
            <img src="images/samsung-logo.png" alt="" />
        </div>
        <div class="right_pa">
            <img src="images/lg-logo.jpg" alt="" />
        </div>
        <div class="center_pa">
            <img src="images/motorola-logo.jpg" alt="" />
        </div>
    </div>

    <div>
        <div class="left_pa">
            <img src="images/partner_logo.png" alt="" />
        </div>
        <div class="right_pa">
            <img src="images/partner_logo_2.png" alt="" />
        </div>
    </div>
</main>

</html>