<!DOCTYPE html>
<!-- This website template was created by: Sherwayne Palmer" -->
<html lang="en">

<head>
    <script src="../scripts/usedCars.js"></script>
    <title>Used Cars</title>
    <meta charset="utf-8">
</head>

<input type="hidden" id="pageIdent" value="usedcars">
<table class="page_header">
    <tr>
        <td>Used Cars</td>
    </tr>
</table>

<table id="usedcars_tb" class="text-center">

    <tr>
        <td class="usedcars_tb_heading">Audi e-Tron</td>
        <td class="usedcars_tb_heading">Ford Focus</td>
    </tr>
    <tr>

        <td class="usedcars_tb_data"><img class="smrt_img_size r_AudiTron" src="../images/cars/Audi-e-tron.jpg" alt=""></td>
        <td class="usedcars_tb_data"><img class="smrt_img_size r_Ffocus" src="../images/cars/ford-focus.png" alt=""></td>
    </tr>

    <tr>
        <td>CAD 85,000.00</td>
        <td>CAD 29,000.00</td>
    </tr>
    <tr>
        <td>2018</td>
        <td>2017</td>
    </tr>

    <tr>
        <td> &nbsp; </td>
        <td> &nbsp; </td>
    </tr>

    <tr>
        <td class="usedcars_tb_heading">Hyundai i20</td>
        <td class="usedcars_tb_heading">Toyota Avalon</td>
    </tr>
    <tr>
        <td class="usedcars_tb_data"><img class="smrt_img_size r_I20" src="../images/cars/hyundai-i20.jpg" alt="">
        </td>
        <td class="usedcars_tb_data"><img class="smrt_img_size r_TAvalon" src="../images/cars/toyota-avalon.png" alt="">
        </td>
    </tr>
    <tr>
        <td>CAD 25,000.00</td>
        <td>CAD 77,000.00</td>
    </tr>
    <tr>
        <td>2019</td>
        <td>2017</td>
    </tr>

</table>

</html>